<div class="container">
  <div class="row">
    <input readonly [(ngModel)]="expression" placeholder="0" />
  </div>
  <div class="row">
    <label>={{ result }}</label>
  </div>

  <!-- Row 1 -->
  <div class="row">
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('7')"
      >
        7
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('8')"
      >
        8
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('9')"
      >
        9
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('/')"
      >
        /
      </button>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row">
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('4')"
      >
        4
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('5')"
      >
        5
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('6')"
      >
        6
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('*')"
      >
        *
      </button>
    </div>
  </div>
  <!-- Row 3 -->
  <div class="row">
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('1')"
      >
        1
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('2')"
      >
        2
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('3')"
      >
        3
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('-')"
      >
        -
      </button>
    </div>
  </div>
  <!-- Row 4 -->
  <div class="row">
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('0')"
      >
        0
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('.')"
      >
        .
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="subtractFromExpression()"
      >
        ←
      </button>
    </div>
    <div class="col-3 text-center">
      <button
        class="btn btn-secondary m-2"
        style="width: 100px; height: 100px; font-size: 30px"
        (click)="addToExpression('+')"
      >
        +
      </button>
    </div>
  </div>
  <!-- Row 5 -->
  <div class="row">
    <button class="btn btn-primary" (click)="evalExpression()">
      Calculate
    </button>
  </div>
</div>
