<div class="container">
  <div class="row">
    <input
      class="mt-4 lead"
      readonly
      [(ngModel)]="expression"
      placeholder="0"
    />
  </div>
  <div class="row">
    <div *ngIf="result.length > 0; else noresult">
      <label class="mb-2 lead">= {{ result }}</label>
    </div>

    <ng-template #noresult>
      <label class="mb-2 lead">= 0</label>
    </ng-template>
  </div>

  <!-- Row 1 -->
  <div class="row g-0 justify-content-center">
    <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('7')"
      >
        7
      </button>
    </div>
    <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('8')"
      >
        8
      </button>
    </div>
    <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('9')"
      >
        9
      </button>
    </div>
    <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('/')"
      >
        /
      </button>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row g-0 justify-content-center">
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('4')"
      >
        4
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('5')"
      >
        5
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('6')"
      >
        6
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('*')"
      >
        *
      </button>
    </div>
  </div>
  <!-- Row 3 -->
  <div class="row g-0 justify-content-center">
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('1')"
      >
        1
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('2')"
      >
        2
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('3')"
      >
        3
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('-')"
      >
        -
      </button>
    </div>
  </div>
  <!-- Row 4 -->
  <div class="row g-0 justify-content-center">
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('0')"
      >
        0
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('.')"
      >
        .
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="subtractFromExpression()"
      >
        ←
      </button>
    </div>
        <div class="col-sm-auto text-center">
      <button
        class="btn btn-secondary m-2 fs-1"
        style="width: 100px; height: 100px"
        (click)="addToExpression('+')"
      >
        +
      </button>
    </div>
  </div>
  <!-- Row 5 -->
  <div class="row">
    <button
      class="btn btn-primary m-2"
      style="height: 100px; font-size: 30px"
      (click)="evalExpression()"
    >
      Calculate
    </button>
  </div>
</div>
